body {
  background-color: #1da1f2;
  color: #FFF;
  margin: 0;
  font-family: 'Arimo', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.Tweet-intro {
  display: none;
}

.wrapper {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: fixed;
  max-height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  transition: 0.25s all;
}

.author-wrapper {
  align-self: center;
}

.media-wrapper {
  /*align-self: center;*/
  text-align: center;
  object-fit: contain;
  /*height: 45vh;*/
  min-width: 45vw;
  max-height: 60vh;
  box-sizing: border-box;
  /*display: flex;*/
}



.author {
  height: 20vw;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.author-name {
  margin: 0;
  padding-top: 10px;
  font-size: 6vw;
}

.author-username {
  margin: 0;
  color: #c0deed;
  font-size: 4.5vw;
  font-weight: normal;
}

.avatar {
  background-color: #EEE;
  margin-right: 4vw;
  width: 15vw;
  height: 15vw;
  border-radius: 3px;
}

.text {
  color: #d1e8fc;
  font-size: 10vw;
  word-wrap: break-word;
  word-break: break-word;
}
.has-tweet-media .text {
  font-size: 6vw;
}

a,
.hashtag {
  color: #FFF;
  font-weight: bold;
}

.tweet-img {
  margin-top: 4vw;
  /*width: 80vw;*/
  /*height: auto;*/
  align-self: center;
  max-height: 100%;
  max-width: 100%;
}


@media all and (min-aspect-ratio: 1/2) {
  body {
    /*background-color: skyblue;*/
  }

  .media-wrapper {
    /*height: 60vh;*/
  }
}

@media all and (min-aspect-ratio: 1/2) and (max-aspect-ratio: 1/1) {
  body {
    /*background-color: navy;*/
  }

  .author {
    height: 90px;
  }

  .author-name {
    margin: 0;
    padding-top: 10px;
    font-size: 2em;
  }

  .author-username {
    margin: 0;
    color: #c0deed;
    font-size: 1.5em;
    font-weight: normal;
  }

  .avatar {
    width: 90px;
    height: 90px;
    margin-right: 3vh;
  }

  .text {
    margin-top: 20px;
    color: #d1e8fc;
    font-size: 3em;
  }

  .has-tweet-media .text {
    font-size: 2em;
  }

  .media-wrapper {
    /*height: 50vh;*/
  }

  .tweet-img {
    margin-top: 2em;
    /*width: auto;*/
    /*max-width: 100%;*/
    align-self: center;
    max-height: 45vh;
  }
}

@media all and (min-aspect-ratio: 1/1) {
  body {
    /*background-color: darkgreen;*/
  }

  .wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
  }

  .author-wrapper {/*
    float: left;
    width: 100%;*/
  }


  .author {
    height: 12vw;
  }

  .avatar {
    width: auto;
    height: 9vw;
    margin-right: 4vh;
  }

  .author-name {
    margin: 0;
    padding-top: 10px;
    font-size: 3.5vw;
  }

  .author-username {
    margin: 0;
    font-size: 2.5vw;
  }

  .has-tweet-media .author-wrapper {
    /*width: 45vw;*/
  }

  .media-wrapper {/*
    float: right;
    width: 40vw;*/
    padding-left: 2vh;
    padding-right: 2vh;
    /*height: 90vh;*/
    max-height: 90vh;
    align-self: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
  }

  .text {
    font-size: 5vw;
  }
  .has-tweet-media .text {
    font-size: 3.5vw;
  }

  .tweet-img {
    margin-top: 1vh;
    max-height: 90vh;
    align-self: center;
    /*margin-left: 4em;*/
    /*width: 100%;*/
  }
}

@media all and (min-aspect-ratio: 2/1) {
  body {
    /*background-color: dimgrey;*/
  }

  .avatar {
    width: auto;
    height: 15vh;
    margin-right: 4vh;
  }


  .author {
    height: 20vh;
  }

  .author-name {
    margin: 0;
    padding-top: 10px;
    font-size: 4em;
  }

  .author-username {
    margin: 0;
    color: #c0deed;
    font-size: 2.5em;
    font-weight: normal;
  }

  .text {
    color: #d1e8fc;
    font-size: 6em;
  }

  .has-tweet-media .text {
    font-size: 3.5em;
  }
}